{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="about-us container mt-3 card p-5">
  <h1 class="about-us-title align-items-center justify-content-between ">
    VỀ CHÚNG TÔI
  </h1>
  <h3>
    1. Dịch vụ cho thuê xe máy ở đà nẵng giá rẻ :
  </h3>
  <p>
    8Bike là địa chỉ chuyên cho thuê xe máy uy tín tại đà nẵng, nhiều loại xe mới và thuê với mức giá vô cùng hợp lý, thích hợp với những bạn du lịch, phượt
  <p/>
  <p>
    8Bike có địa chỉ gần sân bay Đà Nẵng nên khi có nhu cầu thuê xe bạn sẽ được nhân viên của 8Bike giao xe tận nơi, đặc biệt hơn anh chủ có rất nhiều kinh nghiệm về du lịch phượt nên khi thuê xe máy tại đây, bạn sẽ được anh hướng dẫn nhiệt tình những địa điểm đang làm mưa làm gió trong giới trẻ Đà Thành
  </p>
  <h3>
    2. Lý do bạn nên thuê xe máy tại đà nẵng ở 8 Bike :
  </h3>
  <p>
    ✯ Kinh nghiệm : 8Bike là đơn vị cho thuê xe máy uy tín và lâu năm tại Đà Nẵng, được rất nhiều người thích du lịch cũng như phượt thủ tin tưởng sử dung các loại xe do chúng tôi cung cấp
  <p/>
  <p>
    ✯ Nhiều loại xe : 8Bike liên tục cập nhật những mẫu xe mới, đẹp và hiện đại phục vụ nhu cầu của khách hàng
  <p/>
  <p>
    ✯ Đội ngũ nhân viên tư vấn nhiệt tình : nhân viên tư vấn là dân địa phương nên sẽ tư vấn cho bạn nên chọn loại xe nào thích hợp với từng địa hình mà bạn dự định sẽ đi
  <p/>
  <p>
    ✯ Quy trình cho thuê đơn giản : thủ tục cho thuê nhanh chóng và đơn giản, tiết kiệm được thời gian cho khách hàng và đảm bảo an toàn khi thuê
  </p>

</div>



{% endblock %}