{% load static %}
<!--FOOTER-->
    <footer class="bg-white border-top p-3 text-muted small">
        <div class="row align-items-center justify-content-around">
            <div>
                <span class="navbar-brand mr-2"><strong>8Bike</strong></span> Copyright &copy;
                <script>document.write(new Date().getFullYear())</script>
                . All rights reserved.
            </div>
            <div>
                Made with <a target="_blank" class="text-secondary font-weight-bold"
                             href="https://www.facebook.com/long.nhat47/">Long Nhật</a>
            </div>
        </div>
    </footer>
<!-- End Footer -->
