{% extends 'core/admin.html' %}
{% load static %}
{% block content %}
<div class="container px-5 my-5">

        <a href="{% url 'add_post' %}" class="btn btn-primary">Thêm bài viết</a>
    <div class="row gx-5">
        {% for post in posts %}
        <div class="col-lg-4 mb-5 mb-lg-0 card card-body mt-5">
            <a href="{% url 'post_detail' post.slug %}" class="h4  fw-bolder" style="color: black">{{ post.title|slice:30 }}...</a>
            <p>{{ post.content|slice:300 }}</p>
            <div class="d-flex align-items-center mt-4 mb-0">
                <a class="btn btn-primary mr-3" href="{% url 'update_post' post.slug %}">Sửa</a>
                <a class="btn btn-primary" href="{% url 'delete_post' post.slug %}">Xóa</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<ul>

</ul>
{% endblock %}
